$primary: #60bfd9;
$secondary: #191a24;
$body-bg:#fff;
$table-dark-color: #fff;
$table-dark-bg: $secondary;
@import "../node_modules/bootstrap/scss/bootstrap";

body{
  background-color: $body-bg;
  margin: 0;
  padding: 0;
}
ul{
  margin: 0;
  padding: 0;
}
header{
  background-color: $secondary;
  color: $primary;
}
footer{
  background-color: $secondary;
  color: $primary;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
h1{
  color: $secondary;
}
#page{
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */
}
#content{
  flex-grow:1; /* 4 */
}
ul{
list-style-type: none;
}
.link-block ul{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
header .link-block li{
  display: block;
  width: 25%;
}
footer .link-block li{
  display: block;
  width: 50%;
}
.link-block ul li a{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  font-size: 0.8em;
}
.link-block ul li a:hover{
  text-decoration: none;
  color: #fff;
  background-color: lighten($secondary,10%)
}
.link-block ul li a.active{
  text-decoration: none;
  color: #fff;
  background-color: lighten($secondary,10%)
}
header .link-block ul li:first-child{
  font-size: 2.5em;
}
.title{
  background-color: $primary;
  padding: 10px 30px;
  margin-bottom: 30px;
}
.link-block a{
  display: block;
  padding: 25px 0;
}
header .link-block i {
  font-size: 2.2em;
  margin-bottom: 5px;
}
footer .link-block i {
  font-size: 2.8em;
  margin-bottom: 5px;
}
footer .link-block li:not(:first-child) a{
  border-left: 1px solid lighten($secondary,5%);
}
footer .link-block li:not(:last-child) a{
  border-right: 1px solid darken($secondary,5%);
}

thead{
  color: $primary;
}
.table{
  text-align: center;
  margin-bottom: 10rem;
}